.workshop {
    .workshop-body {
        margin:3em auto;
        border-radius:1em;
        width:1200px;
        max-width:100%;
    }
    .workshop-intro {
        text-align: center;
    }
    h2 button {
        font-size:1em;
        padding:1em;
    }
    .accordion-button:not(.collapsed) {
        background:#fafafa;
    }
    .accordion-button:focus {
        border-color: #d3d3d3;
    }
}