<div class="who">
    <div class="icon">
        <span>{{'{'}}</span><fa-icon [icon]="faUsers"></fa-icon><span>{{'}'}}</span>
    </div>
    <h1>Who We Are</h1>
    <p>
        The Kindness Code Foundation is a heart-driven community, united in our dedication to spreading kindness throughout the world in honor of Benny's indomitable spirit. Recognizing the challenges of our increasingly interconnected digital world, we acknowledge the potential harms and dangers that online interactions can bring. Yet, inspired by Benny's inherent compassion and understanding, we are committed to transforming those challenges into opportunities for empathy, connection, and positive change. We honor Benny's legacy by striving to make the virtual world a space where kindness and human decency thrive.
    </p>
</div>