.about {
    padding: 2em;
    text-align:center;
    color:#373737;
    @media (max-width: 600px) {
      padding:0;
      border-bottom:1px solid #d3d3d3;
      margin-bottom:5em;
    }
  }

  .top-row {
    border-bottom:1px solid #d3d3d3;
    @media (max-width: 600px) {
      border:none;
    }
  }

  .who, .mission {
    border-right:1px solid #d3d3d3;
    @media (max-width: 600px) {
      border:none;
    }
  }

  .item {
    padding:5em;
    &:hover {
      cursor:pointer;
      background-color:#fafafa;
    }
    @media (max-width: 600px) {
      padding:3em;
    }
  }
  
  