<div class="about">
    <div class="quadrant">
        <div class="row">
            <div class="column border-right">
                <app-who></app-who>
            </div>
            <div class="column">
                <app-what></app-what>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="column border-right">
                <app-mission></app-mission>
            </div>
            <div class="column">
                <app-vision></app-vision>
            </div>
        </div>
    </div>
</div>