<div class="about">
    <div fxLayout="row wrap" fxLayoutAlign="center" class="top-row">
        <div class="item who" fxFlex="50%" fxFlex.xs="100%">
            <app-who></app-who>
        </div>
        <div class="item what" fxFlex="50%" fxFlex.xs="100%">
            <app-what></app-what>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" class="bottom-row">
        <div class="item mission" fxFlex="50%" fxFlex.xs="100%">
            <app-mission></app-mission>
        </div>
        <div class="item vision" fxFlex="50%" fxFlex.xs="100%">
            <app-vision></app-vision>
        </div>
    </div>    
</div>
