.about {
    padding: 2em;
    text-align:center;
    color:#373737;
  }
  
  .quadrant {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .row {
    flex: 1;
    display: flex;
  }
  
  .column {
    flex: 1;
    position: relative;
    padding: 5em;
    &:hover {
        cursor:pointer;
        background-color:#fafafa;
    }
  }
  
  .border-right {
    border-right:solid 1px rgba(0,0,0,.12);
  }
  