

<nav class="navbar navbar-expand-lg navbar-light bg-light" [ngClass]="{'transparent': !isScrolled, 'scrolled': isScrolled}">
  <!-- <a class="navbar-brand" href="#">
    <img class="logo-dark" [alt]="logoAlt" [src]="logoImage" />
  </a> -->
  <img class="navbar-brand" class="logo-dark" [alt]="logoAlt" [src]="logoImage" />

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="researchDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
          </a>
          <div class="dropdown-menu" aria-labelledby="researchDropdown">
              <a class="dropdown-item click-close" [routerLink]="['/welcome']">About TKCF</a>
              <a class="dropdown-item click-close" [routerLink]="['/about/team']">The Team</a>
              <a class="dropdown-item click-close" [routerLink]="['/about/benny']">Benny</a>
              <a class="dropdown-item click-close" [routerLink]="['/roadmap']">Roadmap</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="researchDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Programs
          </a>
          <div class="dropdown-menu" aria-labelledby="researchDropdown">
              <a class="dropdown-item click-close" [routerLink]="['/organ']">Organ Donor Awareness</a>
              <a class="dropdown-item click-close" [routerLink]="['/workshop']">Workshop</a>
          </div>
      </li>
      <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="researchDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Research
          </a>
          <div class="dropdown-menu" aria-labelledby="researchDropdown">
          </div>
      </li> -->
        <li class="nav-item click-close">
            <a class="nav-link" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item click-close">
            <a class="nav-link" [routerLink]="['/events']">Events</a>
        </li>
        <li class="nav-item click-close">
            <a class="nav-link subscribe" [routerLink]="['/subscribe']">Join Us!</a>
        </li>
    </ul>
</div>

</nav>
  