

<nav class="navbar navbar-expand-lg navbar-light bg-light" [ngClass]="{'transparent': !isScrolled, 'scrolled': isScrolled}">
  <!-- <a class="navbar-brand" href="#">
    <img class="logo-dark" [alt]="logoAlt" [src]="logoImage" />
  </a> -->
  <img class="navbar-brand" class="logo-dark" [alt]="logoAlt" [src]="logoImage" />

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/welcome']">Welcome</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/benny']">Benny</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/roadmap']">Roadmap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link subscribe" [routerLink]="['/subscribe']">Join Us!</a>
      </li>
      </ul>
  </div>
</nav>
  