<div class="mission">
    <div class="icon">
        <span>{{'{'}}</span><fa-icon [icon]="faBullseye"></fa-icon><span>{{'}'}}</span>
    </div>
    <h1 class="mat-h1">Our mission</h1>
    <p>
        Inspired by Benny's extraordinary capacity for forgiveness and kindness, we strive to foster a culture of empathy, understanding, and shared growth. By using programming as a medium for teaching these values, we aim to spark a new wave of human connection, understanding, and radical kindness, reminding us that every individual carries an untapped potential to impact others positively.
    </p>
</div>