<div class="hero">
    <div class="hero-background" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}" [ngClass]="{'parallax': isParallaxEnabled}"></div>
    <div class="hero-content">
      <div class="message-container">
        <div class="message">
            <img src="../../../assets/img/rise.svg"/>
            <h1>A new movement rising</h1>
            <p>Join us on a brand new journey to honor a legacy of kindness and transform our world, one act at a time.</p>
        </div>
      </div>
    </div>
  </div>