<div class="benny" id="benny">
    <h1>Who's Benny?</h1>
    <img src="../../../assets/img/benny.png"/>
    <p>
        Benjamin 'Benny' Kleczka was a 19-year-old filled with infectious positivity, passion, and a unique sense of kindness. Beyond his age, Benny was building his own web development business with remarkable dedication and tireless effort, demonstrating a drive that truly set him apart.
        <br/><br/>
        But it wasn't just his ambition that made him special. Benny was known for his boundless kindness and accepting nature, his warm spirit impacting many lives around him.
        <br/><br/>
        Even after his untimely passing, Benny's legacy of generosity continues. His organ donations have given others a chance at life, spreading his kindness even further. This website is dedicated to Benny's memory, serving as a continuous inspiration to uphold his values of unconditional love, dedication, and boundless kindness.
        <br/><br/>
        ---
        <br/><br/>
        <q>
            <i>
                <b>Love is patient, love is kind.</b> It does not envy, it does not boast, it is not proud.
            </i>
        </q>
        <br/>
        <span>~ 1 Corinthians 13:4 ~</span>
    </p>
    <h1>Memory Wall</h1>
</div>
<app-benny-wall></app-benny-wall>