.unique {
    padding:5em;
    margin-bottom:5em;
    @media (max-width: 600px) {
        padding:2em;
        margin:2em auto;
    }
    text-align: center;
    p {
        width:1000px;
        max-width:100%;
        margin: 0 auto;
    }
}