<div class="unique">
    <div class="row align-items-center pb-5">
        <div class="col-lg-5 order-md-1">
          <img src="../../../assets/img/teach_code.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-7 order-md-2 content">
          <div class="d-flex align-items-center h-100">
            <div>
              <h1>Unique Impact</h1>
              <p>
                We're not your typical social impact group - we've got a bit of tech magic up our sleeves! Through the power of programming, we're weaving together the essence of kindness with the dynamism of coding. All of this is channeled through the spirit of Benny - a young, remarkable programmer who lived his life as a testament to unadulterated kindness. We use his life as a canvas to paint a vivid picture of how tech and humanity can come together in an extraordinary dance of empathy, all geared towards fostering a world where kindness is the default, not the exception.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>