<div class="unique">
    <div class="row align-items-center pb-5">
        <div class="col-lg-5 order-md-1">
          <img src="../../../assets/img/teach_code.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-7 order-md-2 content">
          <div class="d-flex align-items-center h-100">
            <div>
              <h1>Unique Impact</h1>
              <p>
                The Kindness Code Foundation offers a unique blend of technical education and character building, focusing on making coding skills more accessible and advocating for ethical digital behavior. Our mission is inspired by the legacy of Benny Kleczka, whose dedication to kindness and passion for coding forms the basis of our work. Our comprehensive approach combines education, community service, partnerships, and advocacy, driven by our inclusive core values. We use Benny's life as a foundation and canvas to paint a vivid picture of how tech and humanity can come together in an extraordinary dance of empathy, all geared towards fostering a world where kindness is the default, not the exception.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>