.roadmap {
    border-bottom:1px solid #d3d3d3;
    padding:5em;
    fa-icon {
        color:#1EAE98;
        padding-right:.25em;
    }
    @media (max-width: 991px) {
        padding:2em;
    }
    .row {
        display: flex;
      }
      
      .card {
        display: flex;
        flex: 1;
      }
      
      .card-body {
        display: flex;
        flex-direction: column;
        padding:2em;
      }
}