.roadmap {
    fa-icon {
        color:#1EAE98;
        padding-right:.25em;
    }
    .row {
        display: flex;
      }
      
      .card {
        display: flex;
        flex: 1;
      }
      
      .card-body {
        display: flex;
        flex-direction: column;
        padding:2em;
      }
}