<div class="subscribe">
    <div class="icon">
        <span>{{'{'}}<fa-icon [icon]="faHandHoldingHeart"></fa-icon>{{'}'}}</span>
    </div>
    <div class="form-wrap">
        <div *ngIf="!submitted">
            <h1>Join Us!</h1>
            <p class="pb-3">We have a lot of exciting things planned to share Benny's story and carry his spirit forward by giving back to our communities! Sign up with just your email address to receive updates on what we are up to.</p>
            <form [formGroup]="subscribeForm" (ngSubmit)="subscribe(subscribeForm.value)">
                <div class="form-group">
                    <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
                    <div *ngIf="subscribeForm.get('email')?.invalid && subscribeForm.get('email')?.touched" class="error-message">
                        Please enter a valid email.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary shadow-sm" [disabled]="subscribeForm.invalid">Subscribe</button>
                <div *ngIf="errorMessage" class="error-message">
                    {{errorMessage}}
                </div>
            </form>
        </div>
        <div class="mt-5" *ngIf="submitted">
            <h1>Thank you!</h1>
            <p>You have successfully subscribed to our newsletter. We will keep you up to date on the latest developments in or organization.</p>
        </div>
    </div>
</div>