.subscribe {
    fa-icon {
        font-size:1em;
    }
    h1, p, .icon, .submitted, .disclaimer {
        text-align: center;
    }
    .disclaimer {
        padding: 1em;
        font-size:1em;
    }
    .instructions {
        text-align: left;
        font-size:1em;
    }
}
.form-wrap {
    margin:0 auto 2em auto;
    border-radius:12px;
    padding:0 1em 3em 1em;
}

.form-group input {
    margin-bottom:1.25em;
}

label {
    margin-bottom:.5em;
    font-size:1.1em;
    font-family:'Roboto';
    font-weight:300;
}

small {
    margin-top:.5em;
    display:block;
}

.btn-primary {
    background-color: #ab97db;
    border:none;
    padding:.5em 2em;
    font-size:1.25em;
    display:block;
    margin:1em auto;
    &:hover {
        opacity:.9;
        cursor:pointer;
    }
}
h1 {
    margin:0;
}
input[type="text"], input[type="email"] {
    height:50px;
}
.error-message {
    padding-top:1em;
    color: rgb(147, 26, 26);
  }