.form-wrap {
    width:750px;
    max-width:100%;
    margin:0 auto 2em auto;
    background: #199a87;
    padding:2em;
    border-radius:12px;
}

label {
    margin-bottom:.5em;
    font-size:1em;
}

small {
    margin-top:.5em;
    display:block;
}

.btn-primary {
    background-color: #ab97db;
    border:none;
    padding:.5em 2em;
    font-size:1.25em;
    margin-top:1em;
    &:hover {
        opacity:.9;
        cursor:pointer;
    }
}
h1 {
    margin:0;
}
input {
    height:50px;
}