<div class="container">
    <div class="blog-wrap">
      <div class="row">
        <div class="col-12">
          <div class="blog-post" *ngIf="post">
            <div class="post-img-container">
              <img *ngIf="post.blogImage" [src]="post.blogImage.url" [alt]="post.blogImage.description">
            </div>
            <h2>{{ post.title }} <br/><br/></h2>
            <div *ngFor="let paragraph of post.body.json.content">
              <p>{{ paragraph.content[0].value }}</p>
            </div>
            <p>
                <br/>
                ~ Author: <b>{{ post.authorName }}</b>
            </p>
            <button class="btn btn-primary mt-3" (click)="goBack()"><fa-icon [icon]="faArrowLeft"></fa-icon> Back</button>
          </div>
        </div>
      </div>
    </div>
</div>
  
  