<div class="what">
    <div class="icon">
        <span>{{'{'}}</span><fa-icon [icon]="faHeart"></fa-icon><span>{{'}'}}</span>
    </div>
    <h1>What We Do</h1>
    <p>
        We've established this Non-Profit organization as a living tribute to Benny's indomitable spirit, with the aim of spreading ripples of kindness across the digital landscape. Through dedicated research, passionate volunteering, meaningful partnerships, and robust fundraising, we're crafting innovative programs designed to educate children of all ages. Our focus is on fostering the understanding, power, and responsibility tied to creating and maintaining safe digital spaces. By instilling these values, we're building a future where empathy and integrity resonate within every interaction in our connected world.
    </p>
</div>