/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Comfortaa:wght@300;700&family=Pacifico&family=Roboto:wght@100;400&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    font-size:2.5em!important;
    font-weight:700!important;
    text-transform: uppercase;
    font-family: Comfortaa!important;
    line-height:2em!important;
    @media (max-width: 600px) {
      font-size:2em!important;
    }
}
p {
    font-size:1.3em;
    line-height:1.5em;
    font-weight:300;
    @media (max-width: 600px) {
      font-size:1.25em;
    }
}

app-about .about, app-unique .unique, app-subscribe .subscribe {
    .icon span, .icon fa-icon {
        font-size:5em;
        line-height:1.5em;
      }
    .icon span {
        color:#e5dbff;
    }
    .icon fa-icon {
        color:#C2AFF0;
        margin:0 .25em;
    }
      p {
        font-size:1.25em;
        font-family:roboto;
        line-height:1.5em;
      }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
